[Unit]
Description=Imoveis-SC
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/usr/bin/node /home/ubuntu/node-project/imoveis_sc.js
 
[Install]
WantedBy=multi-user.target
